.container {
    display: flex;
    justify-content: space-between;
    width: 1280px;
    margin: 0 auto;
}
.project {
    margin-bottom: 150px;
}
.left_title {
    color: #000;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; /* 43.2px */
    text-transform: uppercase;
    margin-bottom: 40px;
}
.left {
    background-color: #deebf3;
    border-radius: 15px;
    padding: 40px;
    margin-bottom: 60px;
    width: 524px;
    height: 100%;
}
.left_wrap {
    display: flex;
}
.img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}
.left_right {
    display: flex;
    flex-direction: column;
    padding-left: 33px;
    margin-left: 33px;
    border-left: 1px solid #000000;
}
.span {
    color: #000;

    /* F6 */
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; /* 16.8px */
    margin-bottom: 8px;
}
.user_data {
    color: #333;
    /* F4 */
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 28.8px */
    margin-bottom: 20px;
}
.wrapper {
    display: flex;
    flex-direction: column;
}
/* Respond */
.respond {
    display: flex;
    flex-direction: column;
    background-color: #deebf3;
    border-radius: 15px;
    padding: 40px;
    width: 524px;
    margin-bottom: 60px;
}
.respond_title {
    color: #000;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; /* 43.2px */
    text-transform: uppercase;
    margin-bottom: 40px;
}
.label {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 500;
    line-height: 120%;
    display: flex;
    flex-direction: column;
}
.input {
    padding-left: 20px;
    border: 1px solid #000000;
    outline: none;
    border-radius: 15px;
    background-color: transparent;
    width: 423px;
    height: 51px;
    margin-top: 8px;
    margin-bottom: 20px;
    color: #333;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.textarea {
    padding-left: 20px;
    padding-top: 20px;
    border: 1px solid #000000;
    outline: none;
    border-radius: 15px;
    background-color: transparent;
    width: 423px;
    height: 160px;
    margin-top: 8px;
    color: #333;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    resize: vertical;
}
.submit {
    background-color: #000000;
    border-radius: 15px;
    width: 305px;
    height: 51px;
    border: 0;

    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    color: #ffffff;
    margin-top: 40px;
}
