.container {
    background-color: #deebf3;
    border-radius: 15px;
    padding: 40px;
    width: 1280px;
    margin: 0 auto;
}
.section {
    margin-bottom: 180px;
}
.title {
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; /* 43.2px */
    text-transform: uppercase;
    margin-bottom: 35px;
}
.wrap {
    display: flex;
}
.filter {
    display: flex;
    flex-direction: column;
    width: 242px;
    border-right: 1px solid #000000;
    margin-right: 15px;
}
.span_title {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 17px;
}
.label {
    font-size: 16px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}
.check {
    margin-right: 15px;
    width: 25px;
    height: 25px;
    background-color: #d9d9d9;
    border: none;
}
.project {
    display: block;
    background-color: #ffffff;
    border-radius: 15px;
    padding: 40px;
    width: 885px;
}
.proj_title {
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; /* 36px */
    text-transform: uppercase;
    color: #000;
    margin-right: 19px;
    margin-bottom: 40px;
}
.span {
    color: #000;

    /* F6 */
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; /* 16.8px */
    margin-bottom: 8px;
}
.user_data {
    color: #333;
    /* F4 */
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 28.8px */
    margin-bottom: 20px;
}
.wrapper {
    display: flex;
    flex-direction: column;
}
.mid_wrap {
    display: flex;
}
.img {
    width: 150px;
    height: 150px;
}
.more {
    font-size: 14px;
    font-style: italic;
    font-weight: 500;
    line-height: 120%; /* 16.8px */
}
.tech_list {
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
}
.tech_item {
    padding: 10px;
    border-radius: 15px;
    background-color: #000000;
    color: #fff;

    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 28.8px */
    margin-right: 10px;
}
.tech_item:nth-child(odd) {
    background-color: #c7d9f3;
    color: #333;
}
.mid_right {
    padding-left: 30px;
    margin-left: 30px;
    border-left: 1px solid #000000;
}
.apply_btn {
    display: flex;
    margin-right: 0;
    margin-left: auto;
    justify-content: center;
    align-items: center;
    width: 138px;
    height: 37px;
    border-radius: 15px;
    background-color: #6db3ed;
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
