.left_list {
    position: -webkit-sticky;
    position: sticky;
    top: 72px;
    background-color: #deebf3;
    border-radius: 15px;
    width: 305px;
    height: 100%;
}
.section {
    margin-bottom: 160px;
}
.container {
    width: 1280px;
    margin: 0 auto;
    display: flex;
    position: relative;
    justify-content: space-between;
}
.item {
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.item_link {
    color: #000;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
}
.item {
    border-bottom: 1px solid #000000;
}
.item:last-child {
    border-bottom: none;
}
.section_wrapper {
    background-color: #deebf3;
    border-radius: 15px;
    padding: 40px;
    margin-bottom: 60px;
}
.basic_title {
    color: #000;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; /* 43.2px */
    text-transform: uppercase;
    margin-bottom: 40px;
}
.basic_img {
    margin-bottom: 20px;
    border-radius: 50%;
}
.basic_wrapper {
    display: flex;
}
.span_wrap {
    display: flex;
    align-items: center;
    gap: 10px;
}
.basic_span {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.basic_right {
    display: flex;
    flex-direction: column;
    padding-left: 33px;
    margin-left: 33px;
    border-left: 1px solid #000000;
}
.label {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 500;
    line-height: 120%;
    display: flex;
    flex-direction: column;
}
.input {
    padding-left: 20px;
    border: 1px solid #000000;
    outline: none;
    border-radius: 15px;
    background-color: transparent;
    width: 423px;
    height: 51px;
    margin-top: 8px;
    margin-bottom: 20px;
    color: #333;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.textarea {
    padding-left: 20px;
    padding-top: 20px;
    border: 1px solid #000000;
    outline: none;
    border-radius: 15px;
    background-color: transparent;
    width: 423px;
    height: 160px;
    margin-top: 8px;
    color: #333;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    resize: vertical;
}

.about_title {
    margin-bottom: 20px;
    text-transform: uppercase;
}
.exp_title {
    text-transform: uppercase;
    margin-bottom: 20px;
}
.exp_wrap {
    display: flex;
    align-items: center;
    color: #6db3ed;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.exp_svg {
    margin-right: 20px;
}
.files_title {
    text-transform: uppercase;
    margin-bottom: 20px;
}
.files_wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.files_span {
    display: flex;
    align-items: center;
    color: #6db3ed;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.files_svg {
    margin-right: 20px;
}
.files_add {
    border: 0;
    background-color: #6db3ed;
    width: 114px;
    height: 51px;
    border-radius: 15px;

    color: #000;

    /* F5 */
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.links_title {
    text-transform: uppercase;
    margin-bottom: 20px;
}
.label_links {
    display: flex;
    flex-direction: column;
    color: #000;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; /* 16.8px */
}
.links_wrap {
    display: flex;
    align-items: center;
    gap: 20px;
}
.input_links {
    padding-left: 20px;
    border: 1px solid #000000;
    outline: none;
    border-radius: 15px;
    background-color: transparent;
    width: 233px;
    height: 50px;
    margin-top: 8px;
    margin-bottom: 20px;
    color: #333;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.links_btn {
    border: 0;
    background-color: #6db3ed;
    width: 114px;
    height: 51px;
    border-radius: 15px;

    color: #000;

    /* F5 */
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
