.container {
    background-color: #deebf3;
    border-radius: 15px;
    padding: 40px;
    width: 1280px;
    margin: 0 auto;
}
.section {
    margin-bottom: 180px;
}
.title {
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; /* 43.2px */
    text-transform: uppercase;
    margin-bottom: 35px;
}
.project {
    display: block;
    background-color: #ffffff;
    border-radius: 15px;
    padding: 40px;
}
.proj_top_wrap {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
}
.proj_title {
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; /* 36px */
    text-transform: uppercase;
    color: #000;
    margin-right: 19px;
}
.top_span {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    border-radius: 15px;
    width: 467px;
    height: 57px;

    color: #fff;

    /* F4 */
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 28.8px */
    margin-left: 354px;
}
.mid_wrap {
    display: flex;
    margin-bottom: 30px;
}
.left_right {
    display: flex;
    flex-direction: column;
    padding-left: 33px;
    margin-left: 33px;
    border-left: 1px solid #000000;
}
.span {
    color: #000;

    /* F6 */
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; /* 16.8px */
    margin-bottom: 8px;
}
.user_data {
    color: #333;
    /* F4 */
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 28.8px */
    margin-bottom: 20px;
}
.wrapper {
    display: flex;
    flex-direction: column;
}
.tech_list {
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
}
.tech_item {
    padding: 10px;
    border-radius: 15px;
    background-color: #000000;
    color: #fff;

    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 28.8px */
    margin-right: 10px;
}
.tech_item:nth-child(odd) {
    background-color: #c7d9f3;
    color: #333;
}
.respond_span {
    align-items: center;
    display: flex;
    margin-top: 21px;
    margin-bottom: 28px;

    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 28.8px */
}
.num {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    border-radius: 15px;
    width: 77px;
    height: 54px;
    color: #ffffff;
    margin-left: 10px;
    margin-right: 10px;
}
.vacancy {
    display: flex;
    background-color: #ffffff;
    border-radius: 15px;
    padding: 40px;
}
.vac_main {
    padding-right: 31px;
    margin-right: 31px;
    border-right: 1px solid #000000;
}
.vac_top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
}
.vacancy_title {
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; /* 43.2px */
    text-transform: uppercase;
}
.name {
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 28.8px */
    color: #333;
}
.vac_mid {
    display: flex;
    gap: 77px;
}
.more {
    font-size: 14px;
    font-style: italic;
    font-weight: 500;
    line-height: 120%; /* 16.8px */
}
.img {
    margin-bottom: 22px;
}
.profile {
    background-color: #333;
    border-radius: 15px;
    display: flex;
    width: 138px;
    height: 40px;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #ffffff;
    margin-bottom: 17px;
}
.chat {
    background-color: #6db3ed;
    border-radius: 15px;
    display: flex;
    width: 138px;
    height: 40px;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #000000;
    margin-bottom: 17px;
}
